.galleryContainer{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    min-height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.img__col{
 margin: 0 .5rem;
}
.img__box{
    margin: .5rem auto;
    position: relative;
}
img{
    border-radius: .2rem;
}