nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: all 1s;
}
.nav__bg{
    background-color: #182b38;
}
a {
    color: white;
    text-decoration: none;
}

.logo {
    margin: 0 2rem;
    margin-right: auto;
    font-size: x-large;
    font-weight: bolder;
    font-family: fantasy;
}

.logo>a>span {
    font-family: cursive;
    color: yellowgreen;
}
.logo>a:hover {
    color: yellowgreen;
    transition: all 1s;
}

.searchBar {
    display: none;
    margin: auto;
    width: 40%;
    opacity: 0;
    /* transition: all 3s; */
}
.show-search{
    display: block;
    opacity: 1;
    transition: opacity 3s ;
}
.aboutLink {
    margin: 0 2rem;
    margin-left: auto;
    font-size: large;
    font-weight: bold;
    
}
.aboutLink > a {
    color: yellowgreen;
    text-decoration: none;
}
.aboutLink> a:hover{
    color: white;
    transition: all 1s;
}

@media screen and (max-width: 768px) {
   nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    justify-content: center;
   }
    .logo {
        outline: none;
        grid-area: 1/1;
        margin: auto;

    }
    .aboutLink {
        
        grid-area: 1/2;
         margin: auto;
    }
    .searchBar{
        grid-area: 2/1/2/3;
        width: 60%;
    }
    .nav__bg{
        background-color: #182b38;
    }
    
}